<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Create new Author</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body>

<div th:replace="~{commons :: navbar}"></div>
<section class="py-4">
  <!-- header -->
  <div class="container-lg">
    <div th:replace="~{commons :: back-button(@{/authors}, 'Back to author list')}"></div>
    <div class="text-center mb-5">
      <h2>Create new Author</h2>
      <p class="lead text-muted">Fulfill form to create new author</p>
    </div>

    <!-- form -->
    <div class="row justify-content-center my-5">
      <div class="col-lg-6">
        <form th:object="${author}" method="post" th:action="@{/authors/create-new}">

          <!-- first name -->
          <div class="mb-2">
            <label for="firstName" class="form-label">First Name:</label>
            <div class="input-group" th:classappend="${#fields.hasErrors('firstName') ? 'has-validation' : ''}">
              <span class="input-group-text">
                <i class="bi bi-person"></i>
              </span>
              <input type="text" aria-describedby="validationFirstName" class="form-control" id="firstName" placeholder="e.g. William" th:field="*{firstName}" th:classappend="${#fields.hasErrors('firstName') ? 'is-invalid' : ''}" required>
              <div id="validationFirstName" class="invalid-feedback" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
            </div>
          </div>

          <!-- last name -->
          <div class="mb-2">
            <label for="lastName" class="form-label">Last name:</label>
            <div class="input-group" th:classappend="${#fields.hasErrors('lastName') ? 'has-validation' : ''}">
              <span class="input-group-text">
                <i class="bi bi-person-fill"></i>
              </span>
              <input type="text" aria-describedby="validationLastName" class="form-control" id="lastName" placeholder="e.g. Shakespeare" th:field="*{lastName}" th:classappend="${#fields.hasErrors('lastName') ? 'is-invalid' : ''}" required>
              <div id="validationLastName" class="invalid-feedback" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
            </div>
          </div>

          <!-- nationality -->
          <div class="mb-2">
            <label for="nationality" class="form-label">Nationality:</label>
            <div class="input-group" th:classappend="${#fields.hasErrors('nationality') ? 'has-validation' : ''}">
              <span class="input-group-text">
                <i class="bi bi-flag"></i>
              </span>
              <select id="nationality" class="form-select"  aria-describedby="validationNationality" th:field="*{nationality}" th:classappend="${#fields.hasErrors('nationality') ? 'is-invalid' : ''}" required>
                <option value="" selected>--- Choose an option ---</option>
                <option th:each="nationality : ${nationalities}" th:text="${nationality.utfFlag + ' ' + nationality.capitalizedName()}" th:value="${nationality}"></option>
              </select>
              <div id="validationNationality" class="invalid-feedback" th:if="${#fields.hasErrors('nationality')}" th:errors="*{nationality}"></div>
            </div>
          </div>

          <!-- date of birth -->
          <div class="mb-4">
            <label for="dateOfBirth" class="form-label">Date of birth:</label>
            <div class="input-group" th:classappend="${#fields.hasErrors('dateOfBirth') ? 'has-validation' : ''}">
              <span class="input-group-text">
                <i class="bi bi-calendar"></i>
              </span>
              <input type="date" aria-describedby="validationDateOfBirth" class="form-control" id="dateOfBirth" placeholder="e.g. Shakespeare" th:field="*{dateOfBirth}" th:classappend="${#fields.hasErrors('dateOfBirth') ? 'is-invalid' : ''}" required>
              <div id="validationDateOfBirth" class="invalid-feedback" th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}"></div>
            </div>
          </div>

          <div class="mb-4 text-center">
            <button type="submit" class="btn btn-secondary">Add new author</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>