<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Author List</h1>

<table>
  <tr>
    <th>ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Nationality</th>
    <th>Book Count</th>
  </tr>
  <tr th:each="author : ${authors}">
    <th th:text="*{author.id}">ID</th>
    <th th:text="${author.firstName}">First Name</th>
    <th th:text="${author.lastName}">Last Name</th>
    <th th:text="${author.nationality.getUtfFlag() + ' ' + author.nationality.capitalizedName()}"></th>
    <th th:text="${author.books.size()}">Book count</th>
  </tr>
</table>

</body>
</html>