<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Create new Book</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body>
<form th:action="@{/books/create-new}" th:object="${book}" method="post">
  <label for="title">Title:</label>
  <input id="title" type="text" th:field="*{title}">
  <div style="color: red;" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>

  <label for="publicationYear">Publication year:</label>
  <input id="publicationYear" type="text" th:field="*{publicationYear}">
  <div style="color: red;" th:if="${#fields.hasErrors('publicationYear')}" th:errors="*{publicationYear}"></div>

  <label for="genre">Genre:</label>
  <select id="genre" th:field="*{genre}">
    <option value="" selected>--- Choose an option ---</option>
    <option th:each="genre : ${genres}" th:text="${genre}" th:value="${genre}"></option>
  </select>
  <div style="color: red;" th:if="${#fields.hasErrors('genre')}" th:errors="*{genre}"></div>

  <input type="submit">
</form>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>